{% extends 'base.html.twig' %}

{% block header_img %}
    <div class="row text-center">
        <div class="col-2">
            <img class="img-fluid" src="{{ asset('img/403.png') }}" alt="Accès refusé">
        </div>       
    </div>
{% endblock %}

{% block body %}
    <!-- Start Error / Redirection -->
    <div class="row text-center">         
        <div class="mb-5 text-center">
            <p class="error-message">Vous n'avez pas les droits pour accéder à cette page.</p>
            <a href="{{ path('homepage') }}" class="btn btn-success btn-home">Retour à l'accueil</a>
        </div>
    </div>
    <!-- End Error / Redirection -->
{% endblock %}